<form action="/robots" method="post">
  <label> Name: </label>
  <input type="text" name="robot[name]">
  <label> City: </label>
  <input type="text" name="robot[city]">
  <label> State: </label>
  <input type="text" name="robot[state]">
  <label> Department: </label>
  <input type="text" name="robot[department]">
  <input type="submit" value="Submit">
</form>
